

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 .btn-file {
     position: relative;
     overflow: hidden;
 }
 .btn-file input[type=file] {
     position: absolute;
     top: 0;
     right: 0;
     min-width: 100%;
     min-height: 100%;
     font-size: 100px;
     text-align: right;
     filter: alpha(opacity=0);
     opacity: 0;
     background: transparent;
		 color: transparent;
     cursor: inherit;
     display: block;
 }

#auth0-logout {
	display: none;
}

#user-profile {
	display: none;
}

#profilepicture {
	height: 20px;
	width: 20px;
}
