

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#auth0-logout {
	display: none;
}

#user-profile {
	display: none;
}

#profilepicture {
	height: 20px;
	width: 20px;
}

.jumbotron {
	margin-bottom: 0;
	background: #fff;
}

#hero img {
	float: left;
	max-height: 130px;
	margin-right: 30px;
}










